.format{
    border: 2px greenyellow;
    padding: 10px;
    background-color: bisque;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    box-sizing: border-box;
}

.image_Format{
    padding: auto;
    margin: auto;
    width: 50%;
    display: block;
}

body{
    background-color: aliceblue;
    text-align: center;
}